*{
    margin: 0;
}
body{
    overflow-x: hidden;

}
.header{
    height: 60px;
    width: 100%;
    background-color: black;
    
}
.skulllogo{
   height: 60px;
   width: 180px;
   padding-left: 150px;
}
.headerlist1{
    padding-left: 310px;
    position: absolute;
    top: 25px;
}
.headerlist1 ul{  
    list-style: none;
    display: flex; 
}
.headerlist1 li{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
}
.header2{
    height: 60px;
    width: 100%;
    background-color: white;
    color: #007bff;
}
.header2 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    padding-top: 25px;
}
.header3{
    height: 35px;
    width: 100%;
    background-color:black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logos{
    height: 60px;
    width: 20%;
    position: absolute;  
    left: 72%;
    top: 0px;
    display: flex;

}
.logo{
    color: white;
    font-size: 28px;
    padding-left: 25px;
    padding-top: 15px;

}
.flag{
    height: 25px;
    width: 25px;
    padding-top: 17px;
    padding-left: 30px;


}
.support{
    color: #969696;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 100;
    padding-top: 22px;
}
.image1{
    width: 67%;
    height: 67%;
}
.image2{
    width: 33%;
    position: absolute;
    left: 67%;
    top: 155px;
}
.image3{
    width: 33%;
    height: 378px;
    position: absolute;
    left: 67%;
    top: 540px;
}
.headphoneimg{
    width: 100%;
    height: 586px;
    display: flex;
}

.image4{
    width: 100.34%;
    margin-top: -4px;
}

.image5{
    width: 100%;

}

.image6{
    width: 100%;
    margin-top: -4px;

}

.content1{

    width: 500px;
    height: 200px;
    margin-left: 120px;
    margin-top: 200px;
    position: absolute;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.content1 h2{
    font-size: 40px;
    font-weight: 1000;
}
.content1 p{
    font-size: 18px;
}
.button1{
    width: 120px;
    height: 50px;
    font-weight: 100;
    margin-top: 20px;
    border: none;
    cursor: pointer;

}
.content2{
    width: 500px;
    height: 50px;
    margin-left: 1015px;
    margin-top: -715px;
    position: absolute;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.content2 h3{
    font-size: 18px;
    font-weight: 1000;

}
.content2 p{
    font-size: 15px;
}
.content3{
    width: 500px;
    height: 50px;
    margin-left: 1015px;
    margin-top: -300px;
    position: absolute;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.content3 h3{
    font-size: 18px;
    font-weight: 1000;


}
.content3 p{
    font-size: 15px;
    
}
.image7{
    width: 100%;
    margin-top: -4px;

}

.slide1{
    width: 100%;
    height: 350px;
    background-color: #000;
    margin-top: -4px;
    position: relative;
    


}

.footer{
    width: 100%;
    height: 40px;
    background-color:#000;
    position: relative;
    border-top: #393939;
    border-style: solid;
    border-width: 0.5px;

    
}
.footer h4{

    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #969696;
    margin-left: 75%;
    margin-top: 12px;
    position: absolute;
    margin-left: 1200px;
    font-weight: 100;
}
.content4{

    width: 420px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    margin-left: 100px;
    margin-top: 200px;
}
.content4 h2{

    font-size: 40px;
    font-weight: 1000;
    line-height: 35px;
    
}
.content4 p{

    font-size: 18px;
    font-weight: 100;
}
.button2{
    width: 150px;
    height: 50px;
    font-weight: 100;
    margin-top: 20px;
    border: none;
    cursor: pointer;

}

.content5{

    width: 420px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    margin-left: 100px;
    margin-top: 160px;
}
.content5 h2{

    font-size: 40px;
    font-weight: 1000;
    line-height: 35px;
    
}
.content5 p{

    font-size: 18px;
    font-weight: 100;
}
.button3{
    width: 120px;
    height: 50px;
    font-weight: 100;
    margin-top: 20px;
    border: none;
    cursor: pointer;

}
.part1{
    width: 33.4%;
    height: 300px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.part2{
    width: 33.4%;
    height: 300px;
    margin-left: 33.4%;
    position: absolute;
    margin-top: -300px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.part3{
    width: 33.4%;
    height: 300px;
    margin-left: 66.8%;
    position: absolute;
    margin-top: -300px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.inputtext{
    width: 230px;
    height: 30px;
    margin-left: 150px;
    margin-top: 110px;
    cursor: pointer;
}
::placeholder{
    text-align: center;
    font-size: 15px;

}

.part1 h3{
    font-size: 15px;
    font-weight: 1000;
    margin-top: 60px;
    position: absolute;
    margin-left: 200px;
    
}
.part1 h2{
    margin-left: 400px;
    margin-top: -35px;
    position: absolute;
    font-size: 30px;
    font-weight: 100;

}
.part2 table{
    width: 450px;
    height: 160px;
    font-size: 14px;
    text-align: left;
    margin-top: 60px;
    margin-left: 50px;
    cursor: pointer;
}
.part2 th{
    font-weight: 100;
}

.part3 h2{
    font-size: 15px;
    font-weight: 1000;
    margin-top: 60px;
    margin-left: 50px;
    
}
.part3 h3{
    font-size: 15px;
    font-weight: 100;
    margin-left: 150px;
    text-align: left;
    
}
.logo2{
    margin-top: -175px;
    margin-left: 150px;
    font-size: 30px;
    display: flex;
}

.logo2 ion-icon{
    padding-left: 30px;
}
.header3 marquee {
    margin-top: 9px;


}
.button4{
    width: 205px;
    height: 50px;
    font-weight: 100;
    margin-top: 20px;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 347px;
    cursor: pointer;


}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
   
  }

.hover1:hover .overlay {
    opacity: 1;
    
}
.hover2:hover .overlay {
    opacity: 1;
    
}
.hover3:hover .overlay {
    opacity: 1;
    
}

  .image8{
    width: 500px;
    height: 590px;
    margin-top: 918px;
}
.image9{
    width: 500px;
    height: 590px;
    margin-top: 918px;
    margin-left: 550px;
}
.image10{
    width: 500px;
    height: 590px;
    margin-top: 918px;
    margin-left: 1060px;
}

.crossline1{
    border-top:solid #393939;
    border-width: 1px;
    width: 28%;
    transform: rotate(65deg);
    transform-origin: top left;
    margin-left: 370px;
 }

 .crossline2{
    border-top:solid #393939;
    border-width: 1px;
    width: 28%;
    transform: rotate(65deg);
    transform-origin: top left;
    margin-left: 1050px;
 }